= render "layouts/login_header"
-# = render "shared/breadcrumbs" パンくず
.wrapper-id
  .id-container
    .listside
      = render "layouts/side_bar"
    .box-id
      .header-id
        .header-id__title-user
          本人情報の登録

      .section
        .section__main
          .section__main__content
            .section__main__content__description
              お客さまの本人情報をご登録ください。
              %br/
              登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          .section__main__upload
          =link_to "#", class:"link-to-upload" do
            .section__main__upload__box
              本人確認書類のアップロードについて
              %i.fa.fa-chevron-right
        .section__main-profile
          .section__main-profile__box-category
            お名前
          .section__main-profile__box
            .section__main-profile__box__area
              .section__main-profile__box__area__name
                下地 雄大
                -# = user.last_name
                -# = user.first_name
          .section__main-profile__box-category
            お名前カナ
          .section__main-profile__box
            .section__main-profile__box__area
              .section__main-profile__box__area__name-kana
                シモジ ユウダイ
          .section__main-profile__box-category
            生年月日
          .section__main-profile__box
            .section__main-profile__box__area
              .section__main-profile__box__area__birth
                1994/09/06

        .section__form
          .section__form__group
            .section__form__group__postal-code
              郵便番号
            .section__form__group__any-box
              任意
            .section__form__group__text-field
              %input.postal-code{name: "postal-code", placeholder: "例） 1234567", type: "text", value: "" }
            .section__form__group__prefectures
              都道府県
            .section__form__group__any-box
              任意
            .section__form__group__prefectures-select
              .section__form__group__prefectures-select__wrap
                %select.select
                  -# = f.collection_select :prefecture_id, Prefecture.all, :id, :name
                .fa-down-icon
                  %i.fa.fa-chevron-down
            .section__form__group__city
              市区町村
            .section__form__group__any-box
              任意
            .section__form__group__text-field
              %input.city{name: "city", placeholder: "例）横浜市緑区", type: "text", value: "" }
            .section__form__group__address
              番地
            .section__form__group__any-box
              任意
            .section__form__group__text-field
              %input.city{name: "address", placeholder: "例）青山1-1-1", type: "text", value: "" }
            .section__form__group__building
              建物名
            .section__form__group__any-box
              任意
            .section__form__group__text-field
              %input.building{name: "address", placeholder: "例）柳ビル103", type: "text", value: "" }
        .section__register
        =link_to "#", class:"link-to-register" do
          .section__register__btn
            %i.section__register__btn__box
              登録する

        .section__about
          .section__about__box
          =link_to "#", class:"link-to-about" do
            本人情報の登録について
            %i.fa.fa-chevron-right
.footer
  = render "layouts/footer"
