
.main
  .notice
    .notice-top
      .notice-link

        %p.icon
          =image_tag "nophoto_img.png", size: "60x60"
        %p.name
          ユーザー名
        .mycount
          %p.evaluation
            評価
          %p.count
            数
          %p.exhibit
            出品数
          %p.count
            数
    .tab-wrap
      %input#tab1-1.tab-switch{checked: "checked", name: "tab_btn1", type: "radio"}/
      %label.tab-label{for: "tab1-1"}
        %h2 お知らせ
      #moving-content.tab-content
        1
      %input#tab1-2.tab-switch{name: "tab_btn1", type: "radio"}/
      %label.tab-label{for: "tab1-2"} 
        %h2 やる事リスト
      .tab-content
        2

  .purchase
    .purchase-top
      %h2 購入した商品
    .tab-wrap
      %input#tab2-1.tab-switch{checked: "checked", name: "tab_btn2", type: "radio"}/
      %label.tab-label{for: "tab2-1"}
        %h2 取引中
      .tab-content
        3

      %input#tab2-2.tab-switch{name: "tab_btn2", type: "radio"}/
      %label.tab-label{for: "tab2-2"} 
        %h2 過去の取引
      .tab-content
        4



      -# %a(href='https://www.mercari.com/jp/')