.notification {
  width: 100%;
  .notice {
    background-color: #38AEF0;
    color: #fff;
    text-align: center;
  }

  .alert {
    background-color: #ea352d;
    color: #fff;
    text-align: center;
  }
}