.wrapper {
  .category-index {
    background: transparent;
    padding: 40px 0;
    margin: 0 auto;
    width: 700px;
    font-size: inherit;
    line-height: inherit;
    box-sizing: inherit;
    .visible-pc {
      display: block;
      background-repeat: no-repeat;
      color: rgb(51,51,51);
      font-size: inherit;
      line-height: inherit;
      font: 66.66667% sans-serif;
      .gray {
        background-repeat: no-repeat;
        margin: 0;
        .search_title{
          padding: 8px 0;
          font-size: 22px;
          line-height: 1.4;
          background-repeat: no-repeat;
          border-style: solid;
          border-width: 0;
          margin-block-start: 0.83em;
          margin-block-end: 0.83em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          font-weight: bold;
        }
      }
      .category-list-nav {
        text-align: center;
        background-repeat: no-repeat;
        clear: both;
        height: 250px;
      }
      .category-link-name {
        float: left;
        display: block;
        border-radius: 4px;
        min-width: 80px;
        height: 40px;
        box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
        padding: 0 30px;
        margin: 5px;
        color: #333;
        font-size: 16px;
        line-height: 40px;
        background-color: white;
        &:hover {
          background-color:#ea352d;
          color:white;
        }
        .parent-name {
          border-style: solid;
          border-width: 0;
        }
      }
      .category-list-box {
        margin: 30px auto;
        color: rgb(51, 51, 51);
        .category-list-individual-box {
          border-radius: 4px;
          margin-bottom: 40px;
          background-color: #fff;
          background-repeat: no-repeat;
          &__name {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding: 7px 30px 0 30px;
            height: 40px;
            background-color: #ea352d;
            background-repeat: no-repeat;
            .category-title {
              font-size: 22px;
              color: #fff;
              font-weight: bold;
            }
          }
          .category-list-individual-box-inner-box {
            padding: 24px 30px 10px 30px;
            .box-list {
              font-size: 16px;
              margin-top: 8px;
              margin-bottom: 8px;
            }
            .category-list-individual-box-sub-category-name {
              padding-top: 15px;
              padding-bottom: 5px;
              .lyf {
                font-weight: bold;
                background-repeat: no-repeat;
                margin: 0;
                padding: 0;
              }
            }
            .category-list-individual-box-sub-sub-category-box {
              height: 100%;
              padding-left: 20px;
              padding-right: 20px;
              padding-bottom: 10px;
              background-repeat: no-repeat;
              content: '';
              clear: both;
            }
            .category-list-individual-box-sub-sub-category-name {
              width: 100%;
              padding: 0 20px 0 0;
              .nyuu {
                font-size: 16px;
                margin-top: 8px;
                margin-bottom: 8px;
                .byuu {
                  touch-action: manipulation;
                }
              }
            }
          }
        }
      }
      .subete {
        color: #0099e8;
        text-decoration: none;
      }
    }
  }
}