.buy-content {
  padding: 24px 12.5% 40px;
  border-top: 1px solid #f5f5f5;
  &-inner {
    max-width: 320px;
    margin: 0 auto;
    h3 {
      display: block;
      float: left;
      font-size: 14px;
      font-weight: bold;
    }
    .buy-item-image {
      font-size: 22px;
    }
    .buy-item-name {
      width: calc(100% - 80px);
      margin: 0 0 0 16px;
      text-align: left;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 600;
      display: inline-block;
    }
    .buy-form {
      width: 100%;
      display: inline-block;
      .buy-price-ja {
        margin: 8px 0 0;
        line-height: 1.5;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        .item-shipping-fee {
          margin: 0 0 0 8px;
          font-size: 14px;
          font-weight: 400;
        }
      }
      .buy-accordion {
        background: #ccc;
        margin: 16px 0 0;
        border-style: solid;
        border-width: 0;
        .accordion-toggle{
          padding: 16px;
          text-align: center;
          &.btn-red {
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            margin-top: -16px;
          }
        }
      }
      .buy-price-table {
        display: table;
        border-collapse: collapse;
        width: 100%;
        .buy-price-row {
          display: flex;
          justify-content: space-between;
          font-size: 18px;
          font-weight: 600;
          .buy-price-cell {
            display: table-cell;
            padding: 16px 0;
            p {
              line-height: 2;
            }
            span {
              font-size: 28px;
              float: right;
            }
          }
        }
      }
    }
  }
}