
%li.item-list__box
  .item-list__box__parts
    =link_to "#", class: 'item-list__box__link' do
      %figure.item-list__box__link__figure
        %figreption
          %span.item-list__box__name
            #{item.name}
        .item-list__box__main
          %span.item-list__box__main__price{"aria-label" => "Price"} ¥#{item.price}
          -# = image_tag item.images[0].to_s, class: "item-list__box__main__img"