.sell
  .sell-main
    = render "devise/shared/login_header"
    .sell-container
      = form_for @item do |f|  
        = render partial:"form",locals: { f: f}

  = render "devise/shared/login_footer"