.category-index
  .visible-pc
    .gray
      %h2.search_title カテゴリー一覧
    .category-list-nav
      - @parents.each do |parent|
        =link_to root_path, class: "category-link-name" do 
          = parent.name
    -# .category-list-box
    -#   - parent.children.each do |child|
    -#       = child.name
      -#   - child.children.each do |grand_child|
      -#     = link_to "#{grand_child.name}", category_path(grand_child.id)