.product-detail
  %section.item-box-container.l-single-container
    %h1.item-name COACH コーチ バッグ 正規品
    %p.item-wording
      『COACH コーチ バッグ 正規品』は、134回の取引実績を持つ
      %a{:href => "https://www.mercari.com/jp/u/343674400/"}> えもだ
      さんから出品されました。
      %a{:href => "https://www.mercari.com/jp/brand/539/"}> コーチ
      （
      %a{:href => "https://www.mercari.com/jp/category/214/"}> ショルダーバッグ/レディース
      ）の商品で、東京都から1~2日で発送されます。
    .item-main-content.clearfix
      .item-photo
        .owl-carousel
          .owl-item-inner
            %img.owl-lazy{:alt => "COACH コーチ バッグ 正規品", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m96544740745_1.jpg?1551711641"}/
          .owl-item-inner
            %img.owl-lazy{:alt => "COACH コーチ バッグ 正規品", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m96544740745_2.jpg?1566635692"}/
          .owl-item-inner
            %img.owl-lazy{:alt => "COACH コーチ バッグ 正規品", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m96544740745_3.jpg?1566635692"}/
          .owl-item-inner
            %img.owl-lazy{:alt => "COACH コーチ バッグ 正規品", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m96544740745_4.jpg?1566635692"}/
          .owl-item-inner
            %img.owl-lazy{:alt => "COACH コーチ バッグ 正規品", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m96544740745_5.jpg?1566635692"}/
          .owl-item-inner
            %img.owl-lazy{:alt => "COACH コーチ バッグ 正規品", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m96544740745_6.jpg?1566635692"}/
          .owl-item-inner
            %img.owl-lazy{:alt => "COACH コーチ バッグ 正規品", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m96544740745_7.jpg?1566635692"}/
          .owl-item-inner
            %img.owl-lazy{:alt => "COACH コーチ バッグ 正規品", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m96544740745_8.jpg?1566635692"}/
      .item-price-box.text-center.visible-sp
        %span.item-price.bold ¥5,000
        %span.item-tax (税込)
        %span.item-shipping-fee 送料込み
      %section.visible-sp
        .item-btn-float-area
          %a.item-buy-btn{:href => "https://www.mercari.com/jp/login/?login_callback=https%3A%2F%2Fwww.mercari.com%2Fjp%2Ftransaction%2Fbuy%2Fm96544740745%2F"}
            購入画面に進む
      %table.item-detail-table
        %tr
          %th 出品者
          %td
            %a{:href => "https://www.mercari.com/jp/u/343674400/"} えもだ
            %div
              .item-user-ratings
                %i.icon-good
                %span 135
              .item-user-ratings
                %i.icon-normal
                %span 1
              .item-user-ratings
                %i.icon-bad
                %span 1
        %tr
          %th カテゴリー
          %td
            %a{:href => "https://www.mercari.com/jp/category/1/"}
              %div レディース
            %a{:href => "https://www.mercari.com/jp/category/20/"}
              .item-detail-table-sub-category
                %i.icon-arrow-right
                バッグ
            %a{:href => "https://www.mercari.com/jp/category/214/"}
              .item-detail-table-sub-sub-category
                %i.icon-arrow-right
                ショルダーバッグ
        %tr
          %th ブランド
          %td
            %a{:href => "https://www.mercari.com/jp/brand/539/"}
              %div
                コーチ
        %tr
          %th 商品の状態
          %td やや傷や汚れあり
        %tr
          %th 配送料の負担
          %td 送料込み(出品者負担)
        %tr
          %th 配送の方法
          %td 普通郵便(定形、定形外)
        %tr
          %th 配送元地域
          %td
            %a{:href => "https://www.mercari.com/jp/area/13/"} 東京都
        %tr
          %th 発送日の目安
          %td 1~2日で発送
    .item-price-box.text-center
      %span.item-price.bold ¥5,000
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み
    %a.item-buy-btn{:href => "https://www.mercari.com/jp/login/?login_callback=https%3A%2F%2Fwww.mercari.com%2Fjp%2Ftransaction%2Fbuy%2Fm96544740745%2F"}
      購入画面に進む
    %a.item-action-text{"data-action" => "item/openDetail", "data-adjust-url" => "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=items.buy_button1", "data-key" => "id=m96544740745", "data-play-id" => "com.kouzoh.mercari", "data-toggle" => "open-app", "data-url-scheme" => "mercari://"}
      アプリで購入
    .item-description.f14
      %p.item-description-inner
        COACH バッグ
        
        正規品です
        
        ●色：写真をご参照下さい。
        ●サイズ：28㎝×20㎝ 幅5-8㎝ (素人採寸の為、多少の誤差はあります)
        ●状態：使用感あり
        ●色は写真1、5が近い色味です。
        自宅保管、中古品ということをご理解いただいただける方、ご購入をお願いします。
        
        気になることがありましたらコメント下さい。
    .item-button-container.clearfix
      .item-button-left
        %a.item-button.item-button-like{:href => "https://www.mercari.com/jp/login/?login_callback=https://item.mercari.com/jp/m96544740745/&login_message=like"}
          %i.icon-like-border
          %span いいね!
          %span{"data-num" => "like"} 6
        %a.item-button.item-button-report.clearfix{:href => "https://www.mercari.com/jp/login/?login_callback=https%3A%2F%2Fwww.mercari.com%2Fjp%2Freport%2Fm96544740745%2F"}
          %i.icon-flag
          %span 不適切な商品の報告
      .item-button-right
        %a{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"}
          %i.icon-lock
          %span あんしん・あんぜんへの取り組み
  .item-detail-message
    .message-container
  %ul.nav-item-link-prev-next.clearfix
    %li.nav-item-link-prev
      %a{:href => "https://item.mercari.com/jp/m84580781630/"}
        %i.icon-arrow-left>
        ロングカーディガン
    %li.nav-item-link-next
      %a{:href => "https://item.mercari.com/jp/m15756432927/"}
        【値下げしました】スカート
        %i.icon-arrow-right
  .item-social-media-box
    .text-center
      .fb-save{"data-uri" => "product://113299479059860/m96544740745"}
    %ul.social-media-box
      %li
        %a.share-btn{"data-window-name" => "facebook_window", :href => "http://www.facebook.com/share.php?u=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm96544740745%2F", :target => "_blank"}
          %i.icon-facebook
      %li
        %a.share-btn{"data-window-name" => "twitter_window", :href => "http://twitter.com/share?count=horizontal&original_referer=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm96544740745%2F&text=COACH%20%E3%82%B3%E3%83%BC%E3%83%81%20%E3%83%90%E3%83%83%E3%82%B0%E2%80%A6%20%28%C2%A55%2C000%29%20https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm96544740745%2F%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%E3%80%8C%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E3%80%8D%E3%81%A7%E8%B2%A9%E5%A3%B2%E4%B8%AD%E2%99%AA%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%40mercari_jp%E3%81%95%E3%82%93%E3%81%8B%E3%82%89", :target => "_blank"}
          %i.icon-twitter
      %li.social-hidden-item
        %a{:href => "http://line.me/R/msg/text/?COACH コーチ バッグ 正規品%20%7C%20%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%E3%82%B9%E3%83%9E%E3%83%9B%E3%81%A7%E3%81%8B%E3%82%93%E3%81%9F%E3%82%93%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%0D%0Ahttps://item.mercari.com/jp/m96544740745/", :target => "_blank"}
          %i.icon-line
      %li
        %a.share-btn{"data-window-name" => "pinterest_window", :href => "http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm96544740745%2F&media=https%3A%2F%2Fstatic.mercdn.net%2Fitem%2Fdetail%2Forig%2Fphotos%2Fm96544740745_1.jpg%3F1551711641&description=%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E5%95%86%E5%93%81%3A%20COACH%20%E3%82%B3%E3%83%BC%E3%83%81%20%E3%83%90%E3%83%83%E3%82%B0%20%E6%AD%A3%E8%A6%8F%E5%93%81%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA", :target => "_blank"}
          %i.icon-pinterest
  .items-in-user-profile
    %section.items-box-container.clearfix.related-item-column.items-in-user-profile
      %h2.items-box-head
        %a{:href => "https://www.mercari.com/jp/u/343674400/"} えもださんのその他の出品
      .items-box-content.clearfix
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m72060169582/"}
            %figure.items-box-photo
              %img.lazyload{:alt => "a.v.vブラトップ", "data-src" => "https://static.mercdn.net/thumb/photos/m72060169582_1.jpg?1572352307"}/
            .items-box-body
              %h3.items-box-name.font-2 a.v.vブラトップ
              .items-box-num
                .items-box-price.font-5 ¥1,100
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m16791778081/"}
            %figure.items-box-photo
              %img.lazyload{:alt => "東海大学駅伝優勝記念タオルパンフレット", "data-src" => "https://static.mercdn.net/thumb/photos/m16791778081_1.jpg?1562477753"}/
            .items-box-body
              %h3.items-box-name.font-2 東海大学駅伝優勝記念タオルパンフレット
              .items-box-num
                .items-box-price.font-5 ¥5,400
                .font-2
                  %i.icon-like-border
                  %span 7
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m95776246170/"}
            %figure.items-box-photo
              %img.lazyload{:alt => "嵐読売新聞折込み広告", "data-src" => "https://static.mercdn.net/thumb/photos/m95776246170_1.jpg?1570330739"}/
            .items-box-body
              %h3.items-box-name.font-2 嵐読売新聞折込み広告
              .items-box-num
                .items-box-price.font-5 ¥2,100
                .font-2
                  %i.icon-like-border
                  %span 2
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m67435319568/"}
            %figure.items-box-photo
              %img.lazyload{:alt => "nofufureカットソー", "data-src" => "https://static.mercdn.net/thumb/photos/m67435319568_1.jpg?1571565345"}/
            .items-box-body
              %h3.items-box-name.font-2 nofufureカットソー
              .items-box-num
                .items-box-price.font-5 ¥2,500
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m13217965327/"}
            %figure.items-box-photo
              %img.lazyload{:alt => "Loppioレディーススニーカー", "data-src" => "https://static.mercdn.net/thumb/photos/m13217965327_1.jpg?1572475725"}/
            .items-box-body
              %h3.items-box-name.font-2 Loppioレディーススニーカー
              .items-box-num
                .items-box-price.font-5 ¥2,150
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m55950857141/"}
            %figure.items-box-photo
              %img.lazyload{:alt => "福助ストッキング ブラック", "data-src" => "https://static.mercdn.net/thumb/photos/m55950857141_1.jpg?1572005927"}/
            .items-box-body
              %h3.items-box-name.font-2 福助ストッキング ブラック
              .items-box-num
                .items-box-price.font-5 ¥980
                .font-2
                  %i.icon-like-border
                  %span 1
    %section.items-box-container.clearfix.related-item-column
      %h2.items-box-head
        %a{:href => "https://www.mercari.com/jp/brand/539/214/"}
          コーチのショルダーバッグ その他の商品
      .items-box-content.clearfix
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m71406358259/"}
            %figure.items-box-photo
              %img.lazyload{:alt => "専用新品 coach コーチ  ハンドバッグ ショルダーバッグ レザー", "data-src" => "https://static.mercdn.net/thumb/photos/m71406358259_1.jpg?1571358694"}/
            .items-box-body
              %h3.items-box-name.font-2 専用新品 coach コーチ  ハンドバッグ ショルダーバッグ レザー
              .items-box-num
                .items-box-price.font-5 ¥20,800
                .font-2
                  %i.icon-like-border
                  %span 3
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m71835516825/"}
            %figure.items-box-photo
              %img.lazyload{:alt => "COACH コーチ ショルダーバッグ★本日最終セール★", "data-src" => "https://static.mercdn.net/thumb/photos/m71835516825_1.jpg?1572264986"}/
            .items-box-body
              %h3.items-box-name.font-2 COACH コーチ ショルダーバッグ★本日最終セール★
              .items-box-num
                .items-box-price.font-5 ¥4,500
                .font-2
                  %i.icon-like-border
                  %span 7
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m71923769976/"}
            %figure.items-box-photo
              %img.lazyload{:alt => "コーチ 2wayバッグ", "data-src" => "https://static.mercdn.net/thumb/photos/m71923769976_1.jpg?1570235900"}/
            .items-box-body
              %h3.items-box-name.font-2 コーチ 2wayバッグ
              .items-box-num
                .items-box-price.font-5 ¥11,000
                .font-2
                  %i.icon-like-border
                  %span 7
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m79669878402/"}
            %figure.items-box-photo
              %img.lazyload{:alt => "COACH　オールドコーチ　巾着型　本革レザー ショルダーバッグ　USA製", "data-src" => "https://static.mercdn.net/thumb/photos/m79669878402_1.jpg?1572439357"}/
            .items-box-body
              %h3.items-box-name.font-2 COACH　オールドコーチ　巾着型　本革レザー ショルダーバッグ　USA製
              .items-box-num
                .items-box-price.font-5 ¥12,000
                .font-2
                  %i.icon-like-border
                  %span 4
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m70789841907/"}
            %figure.items-box-photo
              %img.lazyload{:alt => "COACH コーチ ショルダーバッグ", "data-src" => "https://static.mercdn.net/thumb/photos/m70789841907_1.jpg?1571639492"}/
            .items-box-body
              %h3.items-box-name.font-2 COACH コーチ ショルダーバッグ
              .items-box-num
                .items-box-price.font-5 ¥7,800
                .font-2
                  %i.icon-like-border
                  %span 5
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m19654559512/"}
            %figure.items-box-photo
              %img.lazyload{:alt => "オールドコーチ 9901 丸型 レザー 斜め掛けショルダーバッグ E810", "data-src" => "https://static.mercdn.net/thumb/photos/m19654559512_1.jpg?1570005166"}/
            .items-box-body
              %h3.items-box-name.font-2 オールドコーチ 9901 丸型 レザー 斜め掛けショルダーバッグ E810
              .items-box-num
                .items-box-price.font-5 ¥6,100
                .font-2
                  %i.icon-like-border
                  %span 18
  %aside.modal{"data-close" => "modal", "data-modal" => "report-item"}
    .modal-inner.modal-banner
      .modal-body
        .modal-head.bold 確認
        不適切な商品を報告しますか？
      .clearfix
        .modal-btn.modal-btn-cancel{"data-close" => "modal"} キャンセル
        %a{:href => "https://www.mercari.com/jp/report/m96544740745/"}
          %button.modal-btn.modal-btn-submit はい
  %nav.bread-crumbs.pos-bottom
    %ul
      %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
        %a{:href => "https://www.mercari.com/jp/", :itemprop => "url"}
          %span{:itemprop => "title"} メルカリ
        %i.icon-arrow-right
      %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
        %span{:itemprop => "title"} COACH コーチ バッグ 正規品
  