@mixin label-mark($bkcolor) {
  background: $bkcolor;
  border-radius: 4px;
  padding: 2px;
  a {
    color: white;
    font-size: 12px;
  }
}
.user-page {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: #f5f5f5;
  padding: 40px 0;
  .side-area{
    width: 280px;
    margin-right: 40px;
  }
  .main-area {
    height: 100%;
    width: 700px;
    margin: 0, auto;
    .notice {
      height: auto;
      width: 700px;
      .notice-top {
        height: 200px;
        background-image: image-url("pointillism.jpg"); 
        display: flex;
        justify-content: center; 
        align-items: center; 
        a {
          text-decoration: none;
          color: black;
        }
        .notice-link {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column; 
          align-items: center; 
          .icon {
            img {
              border-radius: 50%;
            }
          }
          .name {
            margin-top: 8px;
          }
          .mycount {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 8px;
            // .evaluation {}
            .exhibit {
              margin-left: 16px;
            }
            .evaluation-count,.exhibit-count {
              margin-left: 8px;
              font-weight: bold;
            }
          }
        }
      }
    }

    .purchase {
      width: 700px;
      height: auto;
      margin-top: 50px;
      .purchase-top {
        font-weight: bold;
        font-size: 20px;
        padding: 27px;
        background: white;
      }
    }
      .tab-wrap {
        display: flex;
        flex-wrap: wrap;
        .tab-label {
          color: black;
          background: #e5e5e5;
          white-space: nowrap;
          text-align: center;
          padding: 27px;
          order: -1;
          position: relative;
          z-index: 1;
          cursor: pointer;
          flex: 1;
          font-size: 20px;
        }
        .tab-label h2:hover {
          opacity: .5;
        }
        .tab-content {
          width: 100%;
          height: 0;
          overflow: scroll;
          opacity: 0;
          background: white;
          .label-zone {
            width: 100%;
            height: 98px;
            background: white;
            border-bottom: solid 2px #f5f5f5;
            .label-zone-top {
              margin-top: 3px;
              margin-bottom: 2px;
              width: 98%;
              display: flex;
              justify-content: space-between;
              a {
                color: black;
              }
              .label-mark-e {
                @include label-mark(dodgerblue);
              }
              .label-mark-t {
                @include label-mark(gold);
              }
              .label-mark-so {
                @include label-mark(red);
              }
              .label-mark-st {
                @include label-mark(#b5b5b5);
              }
            }
          }
          .label-zone:hover {
            background: #fafafa;
          }
          .notice-list {
            width: 100%;
            height: 100px;
            background: white;
            border-bottom: solid 2px #f5f5f5;
            display: flex;
            justify-content: center; 
            align-items: center; 
            .notice-all {
              background: #e5e5e5;
              width: 95%;
              height: 65px;
              display: flex;
              justify-content: center; 
              align-items: center;
              font-size: 16px;
              text-decoration: none;
              color: black;
            }
            .notice-link:hover {
              background: #ebebeb;
            }
          }
          .no-label {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center; 
            position: relative;
            .monochro-image {
              position: absolute;
              bottom: 20%;
            }
            h2 {
              font-weight: bold;
              font-size: 20px;
              text-align: center;
              color: #ccc;
              position: absolute;
              bottom: 45px;
            }            
          }
        }
        .tab-switch:checked+.tab-label {
          background: white;
          border-top-width: 3px;
          border-top-style: solid;
          border-top-color: red;
        }
        .tab-switch:checked+.tab-label+.tab-content {
          height: 300px;
          overflow: auto;
          opacity: 1;
          transition: .5s opacity;
          border-bottom: solid 2px #f5f5f5;
        }
        .tab-switch:checked+.tab-label+#notice-content{
          height: auto;
        }
        .tab-switch {
          display: none;
        }
      }
    .content{
      border: 1px;
      background-color: white;
      &-chapter{
        margin:0;
        &-head{
          width: 700px;
          height: 50px;
          font-weight: bold;
          font-size: 24px;
          padding-top: 8px;
          border-bottom: 1px solid #f5f5f5;
          text-align: center;
        }
        &-icon{
          padding: 72px 16px 24px;
          background-image: image-url("mypage/user-bg.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          text-align: center;
          font-size: 20px;
          &-face{
            padding-right: 260px;
            position: relative;
            .img{
              border-radius: 50%;
              width: 60px;
              height: 60px;
            }
            .form-mask{
              display: block;
              margin-left: 20px;
            }
            .input{
              padding: 10px 16px 8px;
              position: absolute;
              top:8px;
              right:220px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background-color: #fff;
              font-size: 16px;
              margin-left: 8px;
              vertical-align: middle;
            }
          }
        }
        &-profile{
          padding: 40px 16px;
          .textarea{
            width: 100%;
            height: 216px;
            padding: 10px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 16px;
            line-height: 1.5;
            box-sizing: border-box;
          }
          .btn{
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            cursor: pointer;
            text-align: center;
            color: #fff;
            background: #ea352d;
            margin-top:16px;
          }
        }
      }
    }
  }
}