%nav.bread-crumbs
  %ul.bread-list
    %li.itemscope.itemtype
      = breadcrumbs separator: " &rsaquo; "
      
    -#   =link_to root_path, class: "bread", itemprop: "url"
    -#   %breadcrumb :issue, @issue
    -#   %i.icon-arrow-right
    -# %li.itemscope.itemtype
    -#   =link_to root_path, itemprop: "url", class: "bread"
    -#   %span マイページ
    -#   %i.icon-arrow-right
    -# %li.itemscope.itemtype
    -#   =link_to root_path, itemprop: "url", class: "bread"
    -#   %span お知らせ
    -#   %i.icon-arrow-right