<div class="header">
  <div class="header-top">
    <div class="header-top__main">
      <div class="header-top__title">
        <a href="" class="header-top__title__logo">
          <%= image_tag 'rails2.jpg', class: 'top-logo' %><br>
        </a>
      </div>
        <form class="header-top__search">
          <input type="search" name="keyword" value placeholder="何かお探しですか？" class="search-top">
          <button class="top-btn"></button>
        </form>
    </div>
    <div class="header-bottom">
      <div class="header-bottom__menu__left-navi">
        <div class="header-bottom__menu__left-navi__category">
          <a href="#" class="header-bottom__menu__left-navi__category">カテゴリから探す</a>
        </div>
        <div class="header-bottom__menu__left-navi2">
          <a href="#" class="header-bottom__menu__left-navi2__blund">ブランドから探す</a>
        </div>
      </div>
      <div class="header-bottom__menu__right">
        <div class="header-bottom__menu__right__registration">
          <a href="#" class="header-bottom__menu__right__registration__btn">新規会員登録</a>
        </div>
        <div class="header-bottom__menu__right__login">
          <a href="" class="header-bottom__menu__right__login__btn">ログイン</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="mid-wrapper">
    <div class="main-images"></div>
    <div class="like-category">
      <h2 class="style-heading">人気のカテゴリー</h2>
      <div class="categorys">
        <ul class="category-list">
          <li class="sc-iYUSvU">
            <a class="sc-cHSUfg">レディース</a>
          </li>
          <li class="sc-iYUSvU">
            <a class="sc-cHSUfg">メンズ</a>
          </li>
          <li class="sc-iYUSvU">
            <a class="sc-cHSUfg">家電・スマホ・カメラ</a>
          </li>
          <li class="sc-iYUSvU">
            <a class="sc-cHSUfg">おもちゃ・ホビー・グッズ</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="item">
      <div class="item__name">
        <div class="item-women">
          <h3 class="item-women__title">レディース新着アイテム</h3>
          <a href="#" class="content-more">もっと見る</a>
        </div>
        <div class="item__content">
          <div>
            <ul class="item-list">
              <li class="item-list__box">
                <div class="item-list__box__parts">
                  <a href="https://item.mercari.com/jp/m80613946778/" class="item-list__box__link">
                    <figure class="item-list__box__figure">
                      <figreption>
                        <span class="item-list__box__name">
                          "ボーダー tシャツ"
                        </span>
                      </figreption>
                      <div class="item-list__main">
                        <span aria-label="Price" class="item-list__box__price">¥500</span>
                        <%= image_tag "bodert.jpg", class: "item-list__box__img" %>
                      </div>
                    </figre>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="item__name">
        <div class="item-women">
          <h3 class="item-women__title">メンズ新着アイテム</h3>
          <a href="#" class="content-more">もっと見る</a>
        </div>
      </div>
      <div class="item__name">
        <div class="item-women">
          <h3 class="item-women__title">家電・スマホ・カメラ新着アイテム</h3>
          <a href="#" class="content-more">もっと見る</a>
        </div>
      </div>
      <div class="item__name">
        <div class="item-women">
          <h3 class="item-women__title">おもちゃ・ホビー・グッズ新着アイテム</h3>
          <a href="#" class="content-more">もっと見る</a>
        </div>
      </div>
    </div>
    <div class="like-bland">
    </div>
    <div class="blands"></div>
  </div>
</div>